<h2 class="signup">Создать учетную запись</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email,  :class => "placeholderemreg", placeholder:"Электронная почта", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.text_field :username, :class => "placeholderemreg2",placeholder:"Имя", autocomplete: "username" %>
</div>

  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, :class => "placeholderemreg3",placeholder:"Пароль", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, :class => "placeholderemreg4", placeholder:"Повторите пароль",autocomplete: "new-password" %>
  </div>

  <%= f.submit "cоздать", :class => "actions"%>
<% end %>

<%= render "devise/shared/links" %>
