<%= form_tag posts_path, :method => 'get' do %>
  <p class="poisk">
    <%= text_field_tag :starts_with, params[:starts_with] %>
    <%= submit_tag "Поиск", :name => nil %>
  </p>
<% end %>


<div class="nameu">
  <%= @user.username %>
</div>
<p>Admin <%= @user.isadmin %></p>

<% if user_signed_in? && current_user.isadmin == true %>
  <p>Admin <%= @user.isadmin %></p>
<% end %>

<div class="acc1">
  Уроки <%= @user.favorites.count %> <%= (@user.favorites.count) == 1 ? 'Post' : 'Posts'%>
  <% @posts.each do |post| %>
    <br><%= link_to post.title, post %>
  <% end %>
</div>




  <%= react_component 'MMenu' %>



<div class="eee">
  <% if user_signed_in? && @user.id == current_user.id %>


	<p><%= link_to 'Edit profile', edit_user_registration_path %></p>
<% end %>
</div>
