<p id="notice"><%= notice %></p>

<%= form_tag posts_path, :method => 'get' do %>
  <p class="poisk">
    <%= text_field_tag :starts_with, params[:starts_with] %>
    <%= submit_tag "Поиск", :name => nil %>
  </p>
<% end %>


  <%= react_component 'OAllPosts', { posts: @posts } %>
  <%= react_component 'MMenu' %>


  <tbody class="posts">

    <% @posts.each do |post| %>
      <tr class="posts__item"></tr>
    <% end %>

  </tbody>



<br>
<div class="actions10">
<%= link_to 'Новый пост', new_post_path %>
</div>
<div class="actions11">
<%= link_to 'New Category', new_category_path %>
</div>
