<p id="notice"><%= notice %></p>


<%= react_component 'MLesson', { post: @post } %>
<div class="youtube">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/32si5cfrCNc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

  <%= form_tag posts_path, :method => 'get' do %>
  <p class="poisk">
    <%= text_field_tag :starts_with, params[:starts_with] %>
    <%= submit_tag "Поиск", :name => nil %>
  </p>
<% end %>


  <%= react_component 'MMenu' %>

<div class="buufa">

<% pre_favorite = @post.favorites.find { |favorite| favorite.user_id == current_user.id} %>
<% if pre_favorite %>
    <%= button_to 'Remove from Favorite', post_favorite_path(@post, pre_favorite), method: :delete %>
<% else %>
    <%= button_to 'Add to Favorite', post_favorites_path(@post), method: :post %>
<% end %>

</div>



<div class="back2">
<%= link_to 'Назад', posts_path %> |
</div>
<div class="show2">
  <% if user_signed_in? %>
  <%= link_to 'Редактировать', edit_post_path(@post) %> |
  <% end %>
