<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @playlist.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @playlist.title %>
</p>
<%= link_to(image_tag(@playlist.image.thumb.url, alt: 'Image'), @playlist.image.url, target: '_blank') if @playlist.image? %>

<%= link_to 'Edit', edit_playlist_path(@playlist) %> |
<%= link_to 'Back', playlists_path %>
